* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgb(230, 230, 230);
    font-size: 14px;
}

@media (max-width: 600px) {
    .nav-container {
        font-size: 12px;
    }
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    max-width: 720px;
    padding: 1em 2em;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 100vh;
}

.logo {
    margin-right: auto;
    max-width: 2em;
}

ul {
    display: flex;
    gap: 2em;
    list-style: none;
    color: rgb(51, 51, 51);
    font-size: 1em;
}

.card {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 17px;
    flex: auto;
}

.card .title {
    font-size: 22px;
    color: rgb(0, 0, 0);
}

.card .body {
    flex: auto;
    width: 300px;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.card .end {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

@media (max-width: 600px) {
    .card {
        height: 400px;
    }

    .card .title {
        font-size: 19px;
    }

    .card .body {
        font-size: 14px;
    }

    .card .end {
        font-size: 9px;
    }
}

.static .card.flex-item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(230, 230, 230);
}

.microsoft {
    background-image: url(./images/microsoftbg.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: initial;
}

.microsoft .title {
    margin-bottom: 17px;
}

.microsoft .title,
.microsoft .body {
    color: rgb(255, 255, 255);
}

.microsoft img {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.uwdesign {
    background-image: url(./images/uwdesign.gif);
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

@media (max-width: 720px) {
    .uwdesign {
        background-size: contain;
    }    
}

.arcade {
    background-image: url(./images/arcade.jpg);
    background-size: cover;
}

.arcade .title,
.arcade .body {
    color: rgb(255, 255, 255);
}

.jar {
    background-image: url(./images/jar.png);
}

.inworks {
    background-image: url(./images/inworks.png);
}

.detour {
    background-image: url(./images/detour.png);
}

.cwk {
    background-image: url(./images/cwk.png);
}

.flex-container {
    display: flex;
}

@media (max-width: 720px) {
    .flex-container.static {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .flex-container.gif {
        flex-direction: column;
    }
}